/* 폰트 링크(주아체, 감자꽃체) */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap');

/* * {
    border: 1px solid red;
} */
body {

    font-family: 'Do Hyeon', 'Nanum Gothic', sans-serif;
    font-size: 21px;
}


.search_box {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    border: 2px solid #495057;
}

.botton_row {
    display: flex;
    flex-direction: row;
}

.search_bar {
    height: 100px;
    position: relative;
    display: flex;
    float: right;
    justify-content: right;
}

/* 얘 적용안되는데 뭐 적용되는건지 찾아서 해결 */
/* .searchTerm {
    width: 80%;
    border: 3px solid #C7D36F;
    border-right: none;
    padding: 5px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #C7D36F;
} */


/* 얘를 수정해야함 */
.searchButton {
    width: 100px;
    height: 57px;
    margin-top: -1px;
    text-align: center;
    border-radius: 0 0 5px 0;
    cursor: pointer;
    font-size: 15px;
}